.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.box {
    background-color: black;
    border-style: solid;
    width: 150px;
    height: 150px;
}

.highlightedBox {
    background-color: blue;
}

.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
    border: 1px solid pink;
    border-radius: 100%;
}